.comments-container {
  position: sticky;
  align-self: flex-start;

  width: 300px;
  height: 500px;
  margin-top: 50px;
}

.comment-tab {
  display: flex;
  border: 2px solid #111111;
  background-color: white;
  border-radius: 15px;
  padding: 10px 30px 50px 30px;
  font-weight: 900;
  position: absolute;
  width: 250px;
  z-index: 1;
}

.comment-area {
  display: flex;
  flex-direction: column;
  border: 2px solid #111111;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  position: relative;
  z-index: 2;
  width: 450px;
  height: 550px;
  top: 50px;
  justify-content: space-evenly;
}

.comment-footer {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  flex-direction: row;
}

.icon {
  padding: 0 10px 0 10px;
}

.comment-avatar {
  width: 25px;
  height: 25px;
  border-radius: 25%;
  object-fit: cover;
}

.comment-title,
.comment-text {
  text-align: left;
}

.comment-title {
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment-avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 25%;
  object-fit: cover;
  flex-shrink: 0;
}

.comment-author {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.comment-time {
  padding-left: 20px;

  font-size: 0.85rem;
  color: rgb(160, 160, 160);
}
